[Unit]
Description=nginx - high performance web server
After=network.target remote-fs.target nss-lookup.target
[Service]
Type=forking
PIDFile=/u01/modules/nginx/run/nginx.pid
ExecStartPre=/u01/modules/nginx/sbin/nginx -t -c /u01/modules/nginx/conf/nginx.conf
ExecStart=/u01/modules/nginx/sbin/nginx -c /u01/modules/nginx/conf/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
[Install]
WantedBy=multi-user.target
