# Default Homebrew MySQL server config
[mysqld]
# Only allow connections from localhost
bind-address                        = 127.0.0.1
character_set_server                = UTF8
lower_case_table_names              = 1
server_id                           = 1
max_sp_recursion_depth              = 255
log_bin_trust_function_creators     = ON
explicit_defaults_for_timestamp

#####################DIR##############
basedir                             = /usr/local/opt/mysql
pid_file                            = /usr/local/var/mysql/mysql3306.pid
socket                              = /usr/local/var/mysql/mysql3306.sock
datadir                             = /usr/local/var/mysql/
innodb_data_home_dir                = /usr/local/var/mysql/
innodb_log_group_home_dir           = /usr/local/var/mysql/log
log_bin                             = /usr/local/var/mysql/log/mysql_bin
log_bin_index                       = /usr/local/var/mysql/log/mysql_bin.index
relay_log_index                     = /usr/local/var/mysql/log/relay_log.index
relay_log                           = /usr/local/var/mysql/log/relay_bin
log_error                           = /usr/local/var/mysql/log/alert.log
slow_query_log_file                 = /usr/local/var/mysql/log/slow.log
general_log_file                    = /usr/local/var/mysql/log/general.log
################ SAFETY############
skip_name_resolve
sysdate_is_now                      = 1
innodb_strict_mode                  = 1
skip_ssl
safe_user_create                    = 1
################  BINARY LOGGING##########
expire_logs_days                    = 7
sync_binlog                         = 1
binlog_format                       = row

##################INNODB####################################### #

#innodb_buffer_pool_size             = 1G
#innodb_file_format                  = Barracuda
#innodb_file_format_max              = Barracuda
################# LOGGING####################### #
slow_query_log                         = 1
general_log                            = 0
long_query_time                        = 3
min_examined_row_limit                 = 100
transaction_isolation                  = READ-COMMITTED
